body{
background: #ffffff;
font-size: 90%;
}
table{
    font-size: 85%;
}
td.nick{
    color: #800000;
    padding-left: 5px;
}
td.time{
    color: #808080;
}
td.me{
    color: #008000;
}
td.post{
    color: #000000;
    padding-left: 12px;
}

/*for mpg's sake*/
td.mpg.nick{
    color: #3E68A6;
    padding-left: 5px;
}
td.mpg.time{
    color: #3E68A6;
}
td.mpg.post{
    color: #3E68A6;
    padding-left: 12px;
}

/*
mpg
324D75
*/
